.gallery {
  width: 700px;
  height: 550px;
  margin: 0 auto;
  /* background-color: gray; */
}

.image {
  height: 400px;
  /* width: 100%; */
}

.image img {
  height: 100%;
  width: 100%;
}

.minis {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 250px;
  
}

.mini {
  width: 15px;
  height: 15px;
  border: 2px solid blue;
  opacity: 0.5;
  cursor: pointer;
  background-color: #bbb;
  border-radius: 100%;
}

.active {
  opacity: 1;
  background-color: #717171;
}

.controls {
  position:relative;
  top: -230px;
  padding: 0 10px;
}

.controls span {
  color: white;
  font-weight: bold;
  font-size: 45px;
  cursor: pointer;
}

.controls span:last-of-type{
  float: right;
}
